.box-section {
  text-align: center;
}

#box-container {
  display: grid;
  grid-gap: 1em;
  color: var(--kup-text-color);
  overflow: auto;

  * {
    box-sizing: border-box;
  }

  .box-wrapper {
    display: flex;
    align-items: center;

    .box {
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      display: flex;
      transition: background-color 0.25s ease, box-shadow 0.25s ease;

      &.column {
        flex-direction: column;
      }

      .box-section {
        display: flex;
        flex-direction: row;
        flex: 1 1 1%;
        flex-wrap: wrap;

        &.column {
          flex-direction: column;
          justify-content: center;
          flex-wrap: unset;

          > .box-section {
            flex: 0 0 auto;
          }
        }

        &.grid {
          display: grid;
        }

        .box-object {
          min-height: 16px;

          &.has-padding {
            padding: 1em;
          }

          img {
            height: auto;
          }
        }

        // collapsible sections
        &.collapse-section {
          .header {
            border-top: 1px solid var(--kup-border-color);
            color: rgba(var(--kup-text-color-rgb), 0.75);
            display: flex;
            justify-content: space-around;
            width: 100%;

            .header-content {
              margin: 0.5em;
              display: flex;
              align-items: center;
            }
          }

          .content {
            display: none;
            width: 100%;
          }

          &.open {
            .content {
              display: block;
            }
          }
        }

        &.titled {
          border: 1px solid var(--kup-border-color);
          padding-top: 5px;
          position: relative;
          margin: 10px;

          > h3 {
            background: var(--kup-background-color);
            font-size: calc(var(--kup-font-size) * 1.15);
            position: absolute;
            margin: 0px;
            padding: 0 8px;
            top: -11px;
            left: 5px;
            transition: background-color 0.25s ease;
          }
        }
      }
    }
  }
}

#global-filter {
  margin-bottom: 1em;
}
