/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-left-aligned}) {
  .box-section {
    text-align: left;

    .f-image--wrapper {
      margin-left: 0;
      margin-right: auto;
    }

    kup-checkbox {
      justify-content: flex-start;
    }
  }
}

:host(.#{$kup-class-right-aligned}) {
  .box-section {
    text-align: right;

    .f-image--wrapper {
      margin-left: auto;
      margin-right: 0;
    }

    kup-checkbox {
      justify-content: flex-end;
    }
  }
}

:host(.#{$kup-class-top-aligned}) {
  #box-container .box-wrapper .box .box-section .column {
    justify-content: flex-start;
  }
}

/*-------------------------------------------------*/
/*             J S O N   C l a s s e s             */
/*-------------------------------------------------*/

:host {
  .box-section.left-aligned {
    text-align: left;

    .f-image--wrapper {
      margin-left: 0;
      margin-right: auto;
    }

    kup-checkbox {
      justify-content: flex-start;
    }
  }
}

:host {
  .box-section.right-aligned {
    text-align: right;

    .f-image--wrapper {
      margin-left: auto;
      margin-right: 0;
    }

    kup-checkbox {
      justify-content: flex-end;
    }
  }
}

:host {
  .box-section.center-aligned {
    text-align: center;

    .f-image--wrapper {
      margin: auto;
    }

    kup-checkbox {
      justify-content: center;
    }
  }
}
